.comparison-tool {
  user-select: none;
  pointer-events: auto;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
  z-index: 999999;
}

.comparison-tool .comparison {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.95;
  pointer-events: none;
  overflow: hidden;
}

.comparison-tool .handle {
  position: absolute;
  background: hsl(168.6, 62.9%, 70.4%);
  width: 0.625em;
  pointer-events: auto;
  touch-action: none;
  cursor: ew-resize;
  z-index: 1000002;
  user-select: none;
}

/* .comparison-tool .handle:hover {
  background: hsl(0, 62.9%, 70.4%);
} */
